@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    width: 100%;
  }
.landingfather{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
}
.header_btn{
    width: 220px;
    height: 70px;
    border-radius: 5px;
    border-width: 2px;
    background-color: white;
    border: #263238 solid 2px;
}
.div_txt{
    cursor: pointer;
    display: flex;
    gap: 30px;
    color: #000;
    
}
.section_p{
    background-color: white;
}
.section_div_txt{
    display: flex;
    align-items: center;
}
.section_h1{
    color: black;
    width: 386px;
    height: 240px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    text-align: left;

}

.section_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #8F95A5;
    text-align: left;
    width: 526px;

}
.section_btn{
    width: 438px;
    height: 118px;
    border-radius: 15px;
    background: #263238;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}